@model PM.Models.InterfaceAgreement

@{
    ViewData["Title"] = "Details";
    int i = 0;
}

<h2 class="text-center mt-4">@ViewData["Title"]</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <form asp-action="Create" method="post" class="row needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Project Name:</label>
                            <p class="form-control-static">@Model.InterfacePoint.Project.ProjectName</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">InterFace Point:</label>
                            <p class="form-control-static">IP_@Model.InterfacePoint.Id</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Interface agreement:</label>
                            <p class="form-control-static">IA_@Model.Id</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Title:</label>
                            <p class="form-control-static">@Model.Title</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Description:</label>
                            <p class="form-control-static">@Model.Description</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Status:</label>
                            <p class="form-control-static">@Model.Status</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Accountable:</label>
                            <p class="form-control-static">@Model.InterfacePoint.Project.ScopePackages?.FirstOrDefault(m => m.ManagerEmail == Model.InterfacePoint.Accountable)?.Name</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Accountable manager email:</label>
                            <p class="form-control-static">@Model.InterfacePoint.Accountable</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Accountable member email:</label>
                            <p class="form-control-static">@Model.AccountableTeamMemberEmail</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Consultant:</label>
                            <p class="form-control-static">@Model.InterfacePoint.Project.ScopePackages?.FirstOrDefault(m => m.ManagerEmail == Model.InterfacePoint.Consultant)?.Name</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Consultant manager email:</label>
                            <p class="form-control-static">@Model.InterfacePoint.Consultant</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">System 1:</label>
                            <p class="form-control-static">@Model.System1</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">System 2:</label>
                            <p class="form-control-static">@Model.System2</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Discipline:</label>
                            <p class="form-control-static">@Model.Discipline</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">CreatedDate:</label>
                            <p class="form-control-static">@Model.CreatedDate.ToString("G")</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">NeedDate:</label>
                            <p class="form-control-static">@Model.NeedDate.ToString("G")</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">IssueDate:</label>
                            <p class="form-control-static">@Model.IssueDate?.ToString("G")</p>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">CloseDate:</label>
                            <p class="form-control-static">@Model.CloseDate?.ToString("G")</p>
                        </div>

                        <div class="form-group mb-3 col-md-6">
                            <label class="control-label font-weight-bold">Modified Dates:</label>
                            <br />
                            @foreach (var modifiedDate in Model.ModifiedDates ?? [])
                            {
                                <p class="form-control-static">@modifiedDate.ToString("G")</p>
                            }
                        </div>
                        
                        <div class="form-group mb-3">
                            <label class="control-label font-weight-bold">Documentations:</label>
                            <br />
                            @foreach (var documentation in Model.Documentations ?? [])
                            {
                                i ++;
                                <a href="@documentation.DocumentationLink">Link @i</a>
                                <span>@documentation.DocumentationDescription</span>
                                <br />
                            }
                        </div>

                        @if (User.IsInRole("Contractor") && Model.InterfacePoint.Accountable == User.Identity?.Name && Model.IssueDate == null)
                        {
                            <a asp-action="Issue" asp-route-id="@Model.Id" class="btn btn-primary btn-sm mr-1"> Issue</a>
                            <br />
                        }
                        @if (User.IsInRole("Contractor") && Model.InterfacePoint.Accountable == User.Identity?.Name && !Model.CloseDate.HasValue && Model.IssueDate.HasValue && Model.Status != "SentToCordinator" && Model.Status == "Agreed")
                        {
                            <a asp-action="Close" asp-route-id="@Model.Id" class="btn btn-dark btn-sm mr-1"> Close</a>
                            <br />
                        }
                        @if (User.IsInRole("Contractor") && Model.InterfacePoint.Accountable == User.Identity?.Name && !Model.CloseDate.HasValue && Model.IssueDate.HasValue && Model.Status != "SentToCordinator" && Model.Status != "Agreed")
                        {

                            <a asp-action="SendToCordinator" asp-route-id="@Model.Id" class="btn btn-dark btn-sm mr-1">SendToCordinator</a>
                            <br />
                        }
                        
                        @if (User.IsInRole("Contractor") && Model.InterfacePoint.Consultant == User.Identity?.Name && !Model.CloseDate.HasValue && Model.IssueDate.HasValue && Model.Status != "SentToCordinator" && Model.Status != "Agreed")
                        {

                            <a asp-action="Agree" asp-route-id="@Model.Id" class="btn btn-primary btn-sm mr-1"> Agree</a>
                            <br />
                        }

                        @if (User.IsInRole("Cordinator") && Model.Status == "SentToCordinator")
                        {
                            <a asp-action="Close" asp-route-id="@Model.Id" class="btn btn-dark btn-sm mr-1"> Close</a>
                            <br/>
                        }
                        <a asp-action="Index" class="btn btn-secondary btn-sm mr-1">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>